@model Eurosoci.Models.Pagamentos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pagamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jog_Soc.JogadorFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jog_Soc.Jogador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jog_Soc.SociedadeFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jog_Soc.Sociedade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista de Pagamentos", "Index")
</p>
