@model Eurosoci.Models.Sociedades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sociedades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gestor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gestor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConstituicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConstituicao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
