@model Eurosoci.Models.Jogadores

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Jogador</h2>

<h3>Tem a certeza que pretende efectuar esta operação?</h3>
<div>
    <h4>Jogadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions red">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Lista de Jogadores", "Index")
        </div>
    }
</div>
