@model Eurosoci.Models.Chaves

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Chave</h2>

<h3>Tem a certeza que pretende efectuar esta operação?</h3>
<div>
    <h4>Chaves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoChave.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoChave.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            Chave
        </dt>

        <dd>
            @{ string chave = "";
                bool encontreiEstrela = false;
                
                    foreach (var numero in Model.ListaNumeros.OrderBy(n => n.ID))
                    {
                        if (!encontreiEstrela && numero.EEstrela) { encontreiEstrela = true; }
                        else { encontreiEstrela = false; }

                        if (encontreiEstrela) { chave += "+ "; }

                        chave += numero.Valor + " ";
                    }
                
            }
            <span>@chave</span>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Lista de Chaves", "Index")
        </div>
    }
</div>
