@model Eurosoci.Models.Chaves

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Chaves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoChave.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoChave.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            Chave
        </dt>

        <dd>
            @{ string chave = "";
                bool encontreiEstrela = false;

                foreach (var numero in Model.ListaNumeros.OrderBy(n => n.ID))
                {
                    if (!encontreiEstrela && numero.EEstrela) { encontreiEstrela = true; }
                    else { encontreiEstrela = false; }

                    if (encontreiEstrela) { chave += "+ "; }

                    chave += numero.Valor + " ";
                }

            }
            <span>@chave</span>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista de Chaves", "Index")
</p>
