@model Eurosoci.Models.Concursos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Concurso</h2>

<h3>Tem a certeza que pretende efectuar esta operação?</h3>
<div>
    <h4>Concursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeConcurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeConcurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConcurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConcurso)
        </dd>

        <dt>
            Chave Sorteada
        </dt>

        <dd>
            @{ string chave = "";
                bool encontreiEstrela = false;
                if (Model.ChaveSorteada != null)
                {
                    foreach (var numero in Model.ChaveSorteada.ListaNumeros.OrderBy(n => n.ID))
                    {
                        if (!encontreiEstrela && numero.EEstrela) { encontreiEstrela = true; }
                        else { encontreiEstrela = false; }

                        if (encontreiEstrela) { chave += "+ "; }

                        chave += numero.Valor + " ";
                    }
                }
            }
            <span>@chave</span>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Lista de Concursos", "Index")
        </div>
    }
</div>
