@model Eurosoci.Models.Concursos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Concursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeConcurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeConcurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConcurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConcurso)
        </dd>

        <dt>
            Chave Sorteada
        </dt>

        <dd>
            @{ string chave = "";
                bool encontreiEstrela = false;
                if (Model.ChaveSorteada != null)
                {
                    foreach (var numero in Model.ChaveSorteada.ListaNumeros.OrderBy(n => n.ID))
                    {
                        if (!encontreiEstrela && numero.EEstrela) { encontreiEstrela = true; }
                        else { encontreiEstrela = false; }

                        if (encontreiEstrela) { chave += "+ "; }

                        chave += numero.Valor + " ";
                    }
                }
            }
            <span>@chave</span>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista de Concursos", "Index")
</p>
